.chat-box {
  width: 70%; // rest width for chatbox
  background-image: linear-gradient(
    to right bottom,
    rgba(119, 119, 227, 0.803),
    rgba(121, 43, 205, 0.66)
  );
  // padding: 0.4rem;
  border-radius: 1rem;

  // border: 10px solid red;
}
