.single-chat {
  display: flex;
  flex-direction: column;
  height: 100%;

  .chat-display-area {
    background-color: rgb(103, 103, 103);
    overflow: hidden;
    border-radius: 0.8rem;
    height: 100%;
    // padding: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  .chat-nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // flex-shrink: 0;

    padding: 0.6rem 0.8rem;
    background-color: white;
    background-image: linear-gradient(
      to right bottom,
      rgba(83, 85, 206, 0.571),
      rgba(134, 57, 234, 0.478)
    );
    height: 3.8rem;

    .contact-box {
      display: flex;
      // flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      img {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        object-fit: cover;
      }
      .contact-name-indicator {
        .contact-name {
          font-weight: 600;
          font-size: 1.35rem;
        }

        .contact-typing-indicator {
          line-height: 0.8rem;
          margin-left: 0.1rem;
          font-size: 0.8rem;
          font-weight: 500;
          color: rgb(28, 28, 28);
        }
      }
    }

    .contact-options {
      // border: 2px solid red;
      display: flex;
      align-items: center;
      gap: 0.8rem;

      .unselect-back-button {
        cursor: pointer;
      }
    }
    // .contact-options > * {
    //   border: 5px solid green;
    //   // cursor: pointer;
    //   // cursor: pointer;
    //   // padding: 0.4rem;
    // }
  }

  .messages {
    height: 32.2rem;
    // justify-content: stretch;
    position: relative;
    overflow-y: auto;
    .no-chats {
      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
    }
  }
  .input-message {
    // flex-shrink: 0;
    height: 3rem;
    // padding: 0.1rem;
    border-top: 0.01rem solid rgba(0, 0, 0, 0.395);
    input {
      border: 0.1rem solid rgba(44, 10, 91, 0.47);
      border-radius: 0.7rem;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      font-size: 1rem;
      width: 100%;
      height: 100%;
      padding: 0 0.5rem;

      &::placeholder {
        color: rgba(25, 3, 46, 0.579);
      }
    }
  }
}
