.home {
  background-color: white;
  background-image: linear-gradient(
    to right bottom,
    rgba(182, 40, 234, 0.144),
    rgba(42, 14, 165, 0.182)
  );

  // making vertical and horizontal center
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  gap: 2rem;
  // min-width: 22rem;

  padding: 1.5rem 2rem;
  border-radius: 1rem;
  border: 0.5rem inset rgba(149, 149, 149, 0.61);
  // border-left: 0.4rem inset rgb(125, 125, 125);
  // border-bottom: 0.4rem inset rgb(150, 150, 150);
  // border-right: 0.4rem inset rgb(125, 125, 125);

  .logo {
    text-align: center;
    font-size: 3.2rem;
    font-weight: 700;
  }

  .buttons-Sign-Up-In {
    display: flex;
    // text-align: center;
    // font-size: 1.8rem;
    justify-content: space-between;

    .login,
    .signup {
      width: 48%;
      font-size: 1.4rem;
      padding: 0.3rem;
      border-radius: 2rem;

      cursor: pointer;
      // border: 0.2rem inset rgb(149, 149, 149);

      background-color: rgb(147, 188, 255);
      transform: scale(0.85);
      opacity: 40%;
      &:hover {
        transform: translateY(0.1rem);
        box-shadow: 0.1rem 0.2rem 0.3rem rgba(0, 0, 0, 0.336);
      }
    }

    .active {
      opacity: 100%;
      background-color: rgb(102, 149, 223);
      transform: scale(1);
      &:hover {
        transform: scale(1);
      }
    }
  }

  .display-Sign-In-Up {
  }
}

.temp {
  font-size: 1rem;
  form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  button {
    &:first-of-type {
      margin-top: 2.5rem;
    }
    font-size: 1rem;
    font-weight: 600;

    border: 0.01rem solid rgba(186, 106, 226, 0.549);

    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(
      to right bottom,
      rgba(116, 85, 162, 0.544),
      rgba(210, 107, 202, 0.697)
    );
  }
  input,
  button {
    border: none;
    border-radius: 0.4rem;

    padding: 0.5rem;

    display: block;
  }
}
